html,
        body{
            font-family: 'Roboto', 'Helvetica', sans-serif;
            max-width: 1500px;
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            display: block
        }

        .carousel-inner > .carousel-item > img,
            .carousel-inner > .carousel-item > a > img {
                    width: 70%;
                    margin: auto;
            }

            .carousel-item{
                min-height: 400px;
            }

            .carousel-item:first-child{
                background: rgba(66,66,66,0.6)
            }

            .carousel-item:nth-child(2){
                background: rgba(66,66,66,0.4)
            }

            .carousel-item:nth-child(3){
                background: rgba(66,66,66,0.3)
            }

            .carousel-item:last-child{
                background: rgba(66,66,66,0.2)
            }

            .carousel-indicators li{
                margin-left: 3px;
            }

            /* Declare heights because of positioning of img element */

            .carousel-inner > .carousel-item > img {
              /*position: absolute;
              top: 0;
              left: 0;*/
              min-width: 100%;
              height: 400px;
            }


        .fa-bars {
          border: none !important;
        }
        .container .container-fill{
            /*width: 90%;*/
            display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: justify;
              justify-content: space-between;
              padding-right: 15px;
              padding-left: 15px;
              margin-right: auto;
              margin-left: auto;
         }
        .conx{
            display: inline-block;
            cursor: pointer;
        }

        .bar {
            width: 35px;
            height: 5px;
            background-color: black;
            margin: 6px 0;
            padding: 3px 0;
            color: black;
        }

        .bar1 .bar2 .bar3 {
            width: 35px;
            height: 5px;
            background-color: black;
            color: black;
        }

        .change .bar1 {
            -webkit-transform: rotate(-45deg)
            translate(-9px, 6px);
            transform: rotate(-45deg)
            translate(-9px, 6px);
        }

        .change .bar2 {
            opacity: 0;
        }

         .change .bar3 {
            -webkit-transform: rotate(-45deg)
            translate(-8px, 8px);
            transform: rotate(-45deg)
            translate(-8px, 8px);
         }

         #lino{
            background-color: #D8A235;
            height: 36px;
         }

         #first-head{
            font-style: bold;
            font-size: 32px;
            line-height: 38px;
            text-align: left;
            letter-spacing: 15%;
         }

         #middle-head{
            font-style: black;
            font-size: 100px;
            line-height: 117px;
            text-align: left;
            letter-spacing: 10%;
         }

         #bottom-head{
            font-style: bold;
            font-size: 68px;
            line-height: 80px;
            text-align: left;
            letter-spacing: 28%;
         }

         .non-head{
          font-size: 42px;
          line-height: 49px;
         }

         .head-slide{
           margin-top: -50px;
           margin-left: -100px;
         }

         .carousel-caption{
           margin-left: -20px;
         }



         @media (min-width: 340px) and (max-width: 480px) {
  
        .head-slide{
           text-align: center;
           margin-left: 0px;
        }

        .carousel-caption{
          text-align: center;
        }
        #first-head{
            font-size: 22px;
            line-height: 20px;
         }

         #middle-head{
            font-size: 70px;
            line-height: 80px;
         }

        #bottom-head{
            font-size: 58px;
            line-height: 50px;
         }

         .brand-logo{
           text-align: center;
          padding-left: 30%;
          padding-right: 23%;
          display: inline-block;
         }

         .text-margin{
            margin-top: 25px;
         }
}