header{
    min-height: 80px;
}

header ul{
    float: right;
    margin-top: 20px;
    margin-bottom: 0px;
}

header li{
    float: left;
}

header li a{
    line-height: 60px;
    padding: 5px 10px;
    border-right: 1px solid rgba(48, 52, 51, 0.7);
    color: rgba(48, 52, 51, 0.7);
}

header li:last-child a{
    border-right: none;
}

header li:hover{
    background: rgba(48, 52, 51, 0.05);
}

header a.active{
    color: #D8A235
}

header a{
    color: rgba(48, 52, 51, 0.7);
}

header .active a{
    color: #D8A235;
}

.brand-logo{
    float: left;
    padding: 5px 50px;
}

.fa-bars{
    font-size: 28px;
    margin-top: 20px;
    border: 1px solid rgba(48, 52, 51, 0.7);
    color: rgba(48, 52, 51, 0.7);
    padding: 0px 5px 2px 5px;
    transition: 300ms ease-in-out;
}

.fa-bars:hover{
    color: rgba(48, 52, 51, 1.0);
    border: 1px solid rgba(48, 52, 51, 1.0);
    transition: 300ms ease-in-out;
}

.navbar{
    right: 20px;
    position: relative;
    line-height: 80px;
    margin: 0px;
}

.sidenav ul{
    width: 100%;
    margin: 0;
    padding: 0px 30px;
    z-index: 200;
    position: relative;
}

.sidenav li{
   width: 100%;
}

.sidenav li a{
    border: none;
}

.sidenav{
    display: none;
}

.fa-bars{
    display: block;
}

.links{
    display: none;
}

@media(min-width: 768px){
    .links{
        display: block;
    }

    .sidenav,
    .fa-bars{
        display: none
    }
}